/* Root */
#root {
  width: 100%;
  text-align: center;
}

/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #343a40;
  color: white;
  height: 5%;
}

.footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

/* App.css */
.card {
  transition: transform 0.2s;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.btn-primary-custom {
  border: 3px solid;
  border-image: linear-gradient(to right, #5df4ff, #c7fdff) 10;
  background: linear-gradient(to left, #f1feff, #c7fdff);
  color: #343a40;
  border-radius: 20%;
}

.btn-primary-custom:hover {
  border: 3px solid;
  border-image: linear-gradient(to right, #5df4ff, #c7fdff) 10;
  background: linear-gradient(to left, #f1feff, #c7fdff);
  color: #343a40;
}

/* Navbar Styles */
.navbar {
  background-color: #f8f9fa;
}

.navbar .nav-link {
  color: #343a40;
}

.navbar .nav-link:hover {
  color: #AED581;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  flex-shrink: 0;
}

.Offcanvas.Body {
  z-index: 9000000000;  
}


.navbar-logo {
  height: 4rem;
  margin: 0 1.25rem;
}

/* Title Styles */
.title-sena {
  font-size: 4rem;
  font-weight: bold;
}

.title-logo {
  height: auto;
  max-height: 20vh;
  width: auto;
  margin: 0 1.5rem;
}

/* Image Styles */
.jaipera-img, 
.sena-img-background {
  width: 70%;
}

.logosimbolo {
  width: 40%;
}

.escudo {
  width: 55%;
}

.logo-sena {
  height: 6rem;
}

/* Custom Iframe */
.custom-iframe {
  width: 100%;
  height: 100vh;
}

/* Overlay Image */
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: auto;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  width: 100%;
}

.title-spacing {
  background-color: #AED581;
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: relative;
  flex-wrap: wrap;
}

.title-spacing h1 {
  margin-left: 6rem;
}

.title-text {
  font-size: 3rem;
  font-weight: bold;
}

iframe {
  width: 100%;
  height: auto;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .logo-sena {
    height: 6rem;
  }

  .navbar-logo {
    height: 3rem;
    margin: 0;
  }

  .title-logo {
    max-height: 13vh;
  }

  .navbar-brand strong {
    font-size: 0.8rem;
  }

  .overlay-image {
    width: 30%;
  }

  .title-text {
    font-size: 1.5rem;
  }

  .title-spacing {
    padding: 0.5rem;
  }

  .movie-item {
    flex: 1 1 calc(100% - 2rem);
  }

  .custom-d-flex {
    flex-direction: column;
  }

  iframe {
    width: 100%;
    height: 80vh;
  }

  .prevButton, .nextButton {
    width: 15%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .logo-sena {
    height: 8rem;
  }

  .navbar-logo {
    max-height: 6rem;
    margin: 0 1.25rem;
  }

  .navbar-brand strong {
    font-size: 1.5rem;
  }

  .overlay-image {
    width: 25%;
  }

  .title-logo {
    max-height: 18vh;
    margin: 0 1.25rem;
  }

  .title-text {
    font-size: 2rem;
  }

  .title-spacing {
    padding: 0.75rem;
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  .logo-sena {
    height: 10rem;
  }

  .navbar-logo {
    max-height: 7rem;
    margin: 0 2rem;
  }

  .navbar-brand strong {
    font-size: 2rem;
  }

  .overlay-image {
    width: 20%;
  }

  .title-logo {
    max-height: 22vh;
    margin: 0 2rem;
  }

  .title-text {
    font-size: 2.5rem;
  }

  .title-spacing {
    padding: 1.5rem;
  }
}

@media (min-width: 2560px) and (max-width: 3839px) {
  .logo-sena {
    height: 12rem; 
  }

  .navbar-logo {
    max-height: 9rem; 
    margin: 0 2.5rem;
  }

  .navbar-brand strong {
    font-size: 2.5rem;
  }
}

@media (min-width: 3840px) {
  .logo-sena {
    height: 8rem;
  }

  .navbar-logo {
    max-height: 12rem;
    margin: 0 3rem;
  }

  .navbar-brand strong {
    font-size: 3rem;
  }
}

/* Pictures Component */
.image-item, .mini-image-item {
  flex: 1 1 calc(33.333% - 2rem);
  box-sizing: border-box;
  cursor: pointer;
}

.movie-item {
  flex: 1 1 calc(50% - 2rem);
  box-sizing: border-box;
  cursor: pointer;
}

.custom-d-flex {
  display: flex;
}

video, .image-item img, .movie-item img, .mini-image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.image-item img:hover, .movie-item img:hover {
  transform: scale(1.07);
}

/* Buttons */
.load-more-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #B2E7B2;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more-button:hover {
  background-color: #ffffff;
  border: #B2E7B2 0.2rem solid;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.modal-content {
  position: relative;
  background: linear-gradient(to bottom, #868686 0%, #cfcfcf 100%);
  border-radius: 8px;
  max-width: 90%;
  max-height: 100%;
  animation: zoomIn 0.3s forwards;
  overflow-y: auto;
}

.modal-image {
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: contain;
}

.close-button {
  position: absolute;
  top: -1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  color: black;
  z-index: 4;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

/* Moving Images Component */
.ImagesBackground {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff 0%, #e7ffcb 100%);
  height: 580px;
}

.ImagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.MovingImages {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.MovingImages.active {
  opacity: 1;
}

/* Image Indicators */
.indicators {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicator {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: rgba(255, 255, 255, 1);
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

/* Navigation Buttons */
.prevButton, .nextButton {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  font-size: 1.2rem;
  width: 6%;
}

.prevButton {
  left: 1rem;
  z-index: 100;
}

.nextButton {
  right: 1rem;
  z-index: 100;
}

@media (max-width: 768px) {
  .prevButton, .nextButton {
    width: 15%;
  }
}

@media (max-width: 767px) {
  .ImagesBackground {
    height: calc(580px * (667 / 720));
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .ImagesBackground {
    height: calc(580px * (800 / 720));
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  .ImagesBackground {
    height: calc(580px * (1080 / 720));
  }
}

@media (min-width: 2560px) and (max-width: 3839px) {
  .ImagesBackground {
    height: calc(580px * (1440 / 720));
  }
}

@media (min-width: 3840px) {
  .ImagesBackground {
    height: calc(580px * (2160 / 720));
  }
}